<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team Cloudorados Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://unpkg.com/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div>
      <h1>Welcome to Cloudorados' application</h1>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
        <div class="container">
            <div class="row my-2">
                <div class="col-3">Title:</div>
                <div class="col"><input name="title" type="text" class="form-control"/></div>
            </div>
            <div class="row my-2">
                <div class="col-3">Description:</div>
                <div class="col"><input name="description" type="text" class="form-control"/></div>
            </div>
            <div class="row my-2">
                <div class="col-3">Location:</div>
                <div class="col"><input name="location" type="text" class="form-control"/></div>
            </div>
        </div>

        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>